/*main css start*/
:root {
  --main-font-color: #212121;
  --secondary-font-color: #2196f3;
  --secondary-font-family: "Raleway", sans-serif;
  --bg-color: #ffffff;
  --color-telmail: #757575;
}
h1, h2, h3, p, ul, li{
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-font-color);
  background-color: var(--bg-color);
  letter-spacing: 0.03em;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  padding: 0 15px;
  width: 1200px;
  margin: auto;
}
.ul {
  list-style: none;
}
/* main css end */

/* header start */
.header-portfolio{
  border-bottom: 1px solid #ECECEC;
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav{
  display: flex;
  align-items: center;
}
.list-nav{
  display: flex;
  margin-left: 93px;
  gap: 50px;
}
.list-link{
  padding: 32px 0;
}
.list-logo{
  padding: 25px 0;
}
.tel-list{
  display: flex;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.fpart {
  color: var(--secondary-font-color);
}
.spart {
  color: #000000;
}
.link {
  text-decoration: none;
}
.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-font-color);
}
.nav:hover,
.nav:focus {
  color: var(--secondary-font-color);
}
.current{
  color: var(--secondary-font-color);
}
.tel-mail {
  display: inline-flex;
  align-items: center;
  margin-left: 28px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-telmail);
}
.mail-icon{
  display: inline-flex;
  height: 12px;
  width: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.tell-icon{
  display: inline-flex;
  height: 16px;
  width: 10px;
  margin-right: 10px;
  fill: currentColor;
}
.tel-mail:hover,
.tel-mail:focus {
  color: var(--secondary-font-color);
}
/* header end */

/* main start */
.head-section {
  max-width: 1600px;
  margin: auto;
  padding: 200px 0;
  background-color: var(--color-telmail);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.head-title {
  margin-bottom: 45px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bg-color);
}
.btn {
  min-width: 216px;
  min-height: 50px;
  border: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--bg-color);
  background: var(--secondary-font-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover,
.btn:focus,
.btn:active {
  background-color: #188ce8;
}
.btn-header{
  text-align: center;
  margin: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feat-section,
.wwd {
  background-color: var(--bg-color);
}
/* Features start */
.feat-section{
  padding-top: 94px;
}
.feat-container{
  height: 250px;
}
.feat-ul{
  display: flex;
  gap:30px
}
.features-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}
.feat-icon{
  width: 70px;
  height: 70px;
}
.feat-item{
  flex-basis: calc((100% - 90px) / 4);
}
.feat-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-font-color);
}
.feat-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-telmail);
}
/* Features end */
.wwd{
  padding: 94px 0;
}
.wwd-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}
.wwd-container{
  display: flex;
  gap:30px
}
/* Team */
.team-section {
  background-color: #f5f4fa;
  padding: 94px 0;
  max-width: 1600px;
  margin: auto;
}
.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}
.team-container{
  display: flex;
  gap: 30px;
}
.team-content{
  padding-top: 30px;
  padding-bottom: 30px;
}
.our-team {
  background-color: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.name-team {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}
.post-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-telmail);
}
.team-link-container{
  display: flex;
  gap: 10px;
  padding-top: 16px;
  justify-content: center;
  text-align: center;
}
.team-link:hover,
.team-link:focus{
  background-color: var(--secondary-font-color);
  border-radius: 45px;
  color: var(--bg-color);
}
.team-item{
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
}
.team-icon{
  width: 20px;
  height: 20px;
  fill: currentColor
}
/* team end */
.clients{
  padding-bottom: 94px;
  padding-bottom: 94px;
}
.clients-title{
  margin-top: 94px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}
.clients-container{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.item-clients{
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  cursor: pointer;
}
.clients-icon{
  display: inline-flex;
  fill: currentColor;
  width: 106px;
  height: 60px;
}
.item-clients:hover,
.item-clients:focus{
  color: var(--secondary-font-color);
  border-color: var(--secondary-font-color);
}
/* footer start */
.footer-page {
  margin: auto;
  max-width: 1600px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-logo{
  display: block;
  margin-bottom: 30px;
}
.footer-item{
  margin-top: 10px;
  font-family: inherit;
}
.nav-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--bg-color);
}
.nav-adress:hover,
.nav-adress:focus {
  color: var(--secondary-font-color);
}
.footer-tel-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.spart-two {
  color: #ffffff;
}
.adress{
  font-style: normal;
}
.footer-container{
  display: flex;
  gap: 70px;
  align-items: baseline;
}
.link-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer-link-container {
  display: flex;
  gap: 10px;
  padding-top: 16px;
  justify-content: center;
  text-align: center;
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--secondary-font-color);
  border-radius: 45px;
  color: var(--bg-color);
}

.footer-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 45px;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: currentColor
}
/* footer end */

/* portfolio */
.title{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn-second {
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  cursor: pointer;
  box-shadow: ;
}
.btn-second:hover,
.btn-second:focus,
.btn-second:active {
  background-color: var(--secondary-font-color);
  color: var(--bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.li-items {
  background: #ffffff;
  width: 368px;
}
.portfolio-items:hover,
.portfolio-items:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-font-color);
}
.item-text {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
.portfolio-nav{
  display: flex;
  justify-content: center;
  gap: 8px;
}
.portfolio-list{
  display: flex;
  margin-top: 34px;
  gap:30px;
  flex-wrap: wrap;
}
.portfolio-content{
  border: 1px solid #eeeeee;
  border-top: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.portfolio{
  padding: 94px 0;
}